@{
    ViewBag.Title = "About";
}

<div class="container well">

    <div>
        <h3 class="centro">About</h3>
        
    </div>
    
    <p class="text-center">
        A WheelsPrime é uma empresa de excelencia ligada ao sector automovel.
        A nossa empresa é um stand com variadissimas marcas de automoveis 
         ao gosto e tambem necessidade de qualquer cliente. Disponiblizamos o serviço de 
         oficina, que tem profissionais de excelencia e  prontos sempre para atender há necessidade do cliente.
    </p>
    
    <p></p>
    <p class="text-center">
            Constituição da nossa equipa:<br />
            António Nunes<br />
            Daniel Braga<br />
            Edi Moreira<br />
            Francisco Pereira<br />
            João Morgado<br />
            Rafael Marques<br />
            Ricardo Marques<br />
            Tiago Bastos
    </p>
    
                        

          
</div>


