@{
    ViewBag.Title = "Home Page";
}


<div class="container cima">

    
    @*---------------------Primeiro Carousel---------------------------*@
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://www.vicecityvip.com/wp-content/uploads/2015/09/imageM-1200x500.jpg" alt="First slide">
                    </div>
                    <div class="item">
                        <img src="http://belfastservicecentre.co.uk/wp-content/uploads/2014/12/belfast-car-service-back-2-1200x500.png" alt="Second slide">
                    </div>
                    <div class="item">
                        <img src="http://www.car-it.com/wp-content/uploads/2015/12/low_mission_e_concept_car_2015_porsche_ag-1200x500-1449493602.jpg" alt="Third slide">
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

        </div>
    </div>
    @*--------------------- Fim Primeiro Carousel---------------------------*@

    @*---------------------Titulo Novidades---------------------------*@
    <div>
        <h2>Novidades:</h2>
    </div>
    @*-----------------------Fim Titulo---------------------------*@

    @*---------------------Inicio Segundo Carousel---------------------------*@

    <div class="row">
        <div class="col-md-12">
            <div id="Carousel" class="carousel slide">

                <ol class="carousel-indicators">
                    <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#Carousel" data-slide-to="1"></li>
                    <li data-target="#Carousel" data-slide-to="2"></li>
                </ol>

                <!-- Carousel items -->
                <div class="carousel-inner">

                    <div class="item active">
                        <div class="row">
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://shopimg1.cardekho.com/64253-home_default/speedwav-car-original-side-beading-matt-black-maruti-wagon-r-type-3.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://shopimg1.cardekho.com/63478-home_default/speedwav-leatherette-car-steering-wheel-cover-beige-m-maruti-eeco.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://shopimg1.cardekho.com/64034-home_default/speedwav-zip-original-fit-car-air-filter-maruti-swift-new-petrol-kseries.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://img1.prosperent.com/images/250x250/i.walmartimages.com/i/mp/I5/1N/Kd/KX/C0/I51NKdKXC0803_P660840_500X500.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                    </div><!--.item-->

                    <div class="item">
                        <div class="row">
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://static.bhphoto.com/images/images250x250/1383670483000_1009788.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://img2.everychina.com/img/2f/c6/4d4295facb56945ff3f6ca7e7fdd-250x250c1-a3f4/nissan_car_tire.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://3.imimg.com/data3/VC/VA/MY-4085616/3d-car-foot-mat-250x250.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                    </div><!--.item-->

                    <div class="item">
                        <div class="row">
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://ak1.ostkcdn.com/images/products/etilize/images/250/1016614371.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://images.apwcontent.com/is/image/Autos/r921304_is?wid=250&hei=250&DefaultImage=noimage" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="https://p2.eanfind.com/ph_img/first/9/O/H/P/4G4Z9JPHO9.jpg" alt="Image" style="max-width:100%;"></a></div>
                            <div class="col-md-3"><a href="#" class="thumbnail"><img src="http://static.speedwaymotors.com/RS/SR/Product/91/1821200_R_1c8cde35.jpg" alt="Image" style="max-width:100%;"></a></div>
                        </div><!--.row-->
                    </div><!--.item-->

                </div><!--.carousel-inner-->
                <a data-slide="prev" href="#Carousel" class="left carousel-control"></a>
                <a data-slide="next" href="#Carousel" class="right carousel-control"></a>
            </div><!--.Carousel-->

        </div>
    </div>

    <script>
    $(document).ready(function() {
    $('#Carousel').carousel({
    interval: 1000
    })
    });
    </script>



    @*---------------------Fim Segundo Carousel---------------------------*@









</div>



